pysqlite3
accelerate
huggingface_hub
matplotlib
numpy
pandas
peft
pyarrow
PyYAML
scikit_learn
seaborn
torch
tqdm
transformers
langchain-huggingface
bitsandbytes
tensorboard
nltk
rouge-score
# tf-keras