pysqlite3
accelerate
huggingface_hub #for py12? huggingface-hub>=0.30.0,<1.0
matplotlib
numpy
pandas
peft
pyarrow
PyYAML
scikit_learn
seaborn
torch
tqdm
datasets
transformers
# enable tf-keras this if the native environment nessecitates it, like with py11 on marenostrum
tf-keras
nvidia-ml-py
mpi4py
deepspeed
langchain-huggingface
bitsandbytes
tensorboard
nltk
rouge-score
openpyxl
# for enabling wider set of tokenizers required by some huggingface models
tiktoken
blobfile
sentencepiece