pysqlite3
accelerate
huggingface_hub
matplotlib
numpy
pandas
peft
pyarrow
PyYAML
scikit_learn
seaborn
torch
tqdm
datasets
transformers
deepspeed
langchain-huggingface
bitsandbytes
tensorboard
nltk
rouge-score